@mixin abpos {
  position: absolute;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #222;
}

.content {
  width: 100%;
  height: 100%;
}

/* stage -- start */
.stage {
  position: relative;
  width: 100%;
  height: 680px;
}
/* stage -- end */

/* image -- start */
.img-sec {
  @include abpos;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  perspective: 1800px;

  @at-root {
    .img-figure {
      @include abpos;
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
      cursor: pointer;
      background-color: #fff;
      box-sizing: border-box;
      transform-origin: 0 50% 0; //transform-origin: 50% 50% 0; -- 这个是她的默认值，三个值分别表示x轴原点;y轴原点;z轴原点
      transform-style: preserve-3d;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;

      &.is-inverse {
        transform: translate(320px) rotateY(180deg);
      }
    }

    .img-back {
      @include abpos;
      top: 0;
      left: 0;
      padding: 30px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      text-align: center;
      color: #666;
      transform: rotateY(180deg) translateZ(1px);
      backface-visibility: hidden;
      background: #fff;
    }

    figcaption {
      text-align: center;
      .img-title {
        margin: 20px 0 0 0;
        color: #a7a0a2;
        font-size: 16px;
      }
    }
  }

}
/* image -- end */

/* controller-nav -- start */
.controller-nav {
  @include abpos;
  bottom: 30px;
  left: 0;
  z-index: 101;
  text-align: center;
}
/* controller-nav -- end */
